<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @freelancer.name %>, </p>

    <p><%= @company.name %> has released the following payout: </p>
    <p><a href="<%= root_url %>company/jobs/<%= @job.id %>"><%= @job.title %></a></p>
    <p><a href="<%= root_url %>company/jobs/<%= @job.id %>/payments"><%= @payment.description %></a></p>

    <p>To view a full breakdown of payouts specific to this job please click <a href="<%= root_url %>company/jobs/<%= @job.id %>">here</a>.  Please allow 2 business days for the funds to appear in your bank account. </p>

    <p>Thanks, AV Junction</p>
    <p>For additional information please visit our <a href="https://www.avjunction.com/payments">Knowledge Center</a>.</p>
  </body>
</html>