<% if @project.errors.any? %>
  // Remove previous errors if there were any
  $("#new_project .form-group").removeClass("has-error")
  $("#new_project .help-block").remove()
  // Add new errors
  <% @project.errors.each do |attr, msg| %>
    $(".project_<%= attr %>").addClass("has-error")
    $(".project_<%= attr %>").append("<span class='help-block'><%= msg %></span>")
  <% end %>
<% else %>
  $('#new_project').modal('hide')
  $("#job_project_id").append("<option selected value='<%= @project.id %>'><%= @project.name %></option>")
<% end %>
