<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @freelancer.name %></h1>
    <p>
      You've been invited to quote on <%= @job.title %>, one of <%= @job.company.name %>'s listings on AVJunction. To view the job details, click here:
    </p>

    <p><a href="<%= root_url %>freelancer/jobs/<%= @job.id %>"><%= root_url %>freelancer/jobs/<%= @job.id %></a></p>

    <p>Cheers!</p>
  </body>
</html>